@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    display: grid;
    grid-template-rows: auto 1fr;
}

.layout__content {
    display: grid;
    grid-template-columns: 200px 1fr;
}